<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinkerun" >
    <application>
        <service android:name=".patch.TinkerunDaemonService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.tinkerun.patch.TinkerunDaemonService"></action>
            </intent-filter>
        </service>
        <service android:name=".patch.TinkerunResultService"
            android:exported="false"
            android:enabled="true"></service>
        <activity android:name=".debug.LogActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:label="Tinkerun/Tinker 日志列表"
            android:launchMode="singleInstance"
            />

    </application>


</manifest>
