<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinkerun" >
    <application>
        <service android:name=".patch.TinkerunService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.tinkerun.TinkerunService"></action>
            </intent-filter>
        </service>
        <service android:name=".patch.TinkerunResultService"
            android:exported="false"
            android:enabled="true"></service>


    </application>


</manifest>
